<!DOCTYPE html>
{% load static %}
{% load crispy_forms_tags %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SentX</title>
    <link href="https://fonts.googleapis.com/css?family=Nunito:300,400,400i,600,700,800,900" rel="stylesheet">
    <link href="{% static 'css/themes/lite-purple.min.css' %}" rel="stylesheet">
</head>
<div class="auth-layout-wrap" background-color = "primary">
    <div class="auth-content">
        <div class="card o-hidden">
            <div class="row">
                <div class="col-md-12">
                        <div class="auth-logo text-center mb-4 mt-3"><img src="{%static 'images/logosentx4.png' %}" alt=""></div>
                        <h1 class="mb-3 text-24 text-center"><strong>E-posta doğrulama işleminiz önceden gerçekleşmiştir.</strong></h1>
                        <div class="ml-4 mr-5">
                            <p><strong>SentX üzerinden işlemlerinizi yapabilirsiniz.</strong></p>
                            <p>
                                <a class="btn btn-success m-2" href="{% url 'index'%}"><i class="i-Paper-Plane"></i> Devam</a>
                            </p>
                        </div>
                        
                        
  
                </div>
            </div>
        </div>
    </div>
</div>